#root {
  margin: 0 auto;
  text-align: center;
}

.create-task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: centers;
}

.box-task {
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.div-icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
