.modal-edit-task {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: black;
  padding: 1.5rem;
  border-radius: 0.8rem;
}

.modal-button {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}

.button-save-edit {
  background-color: pink;
  border: none;
}

.button-save-edit:hover {
  background-color: palevioletred;
}

.button-calcel-edit {
  background-color: pink;
  border: none;
}

.button-calcel-edit:hover {
  background-color: palevioletred;
}

.input-edit-task {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: antiquewhite;
  border: none;
  color: black;
}
